<h1>Selling Books</h1>
<% @books.each do |book| %>
  <ul style='list-style-type: none';>
    <li>Book: <%= book.name %></li>
    <li><%= link_to 'Detail', sell_book_path(book.id), class: 'btn btn-default' %></li>
  </ul>
<% end %>
