// Place all the styles related to the SellBookComments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'bootstrap';
@import 'settings';

.comment_list {
  margin-left: -30px;
  padding-bottom: 40px;
  list-style: none;

  li {
    margin-bottom: 25px;

    .comment_body {
      margin-left: 55px;
    }
  }
}
