@import 'bootstrap';
@import 'settings';

.book_wrapper {
  padding: 60px 0;
}

.book_box {
  width: 100%;
  color: $dark_gray;
  padding-bottom: 70px;

  .forecast_info {
    margin-left: 10px;
    margin-top: 5px;
  }

  .book_info {
    position: relative;
    color: #565a5c;

    .book_name {
      position: absolute;
      top: 5px;
      left: 10px;
      font-size: 20px;
      margin-bottom: 25px;
    }

    .price {
      position: absolute;
      top: -50px;
      left: 0px;
      font-size: 22px;
      background-color: rgba(60,63,64,0.9);
      background-size: 40%;
      color: #fff;
      font-size: 30px;
      width: 40%;
    }

    .owner_image {
      position: absolute;
      border-radius: 33px;
      top: -15px;
      right: 5px;
    }
  }

  .book_img_list {
    .book_img {
      width: 100%;
      max-height: 50%;
      overflow: hidden;
    }
  }
}

.new_sell_book {
  margin-top: 40px;
  padding-bottom: 60px;
}

.book {
  margin-top: 40px;
  margin-bottom: 30px;
  padding-bottom: 60px;
  position: relative;

  .pc_image {
    img {
      width: 40%;
      height: 40%;
    }
  }

  .favorite_button {
    position: absolute;
    right: 90px;
    top: -68px;

    .btn {
      color: #ff5a5f;
    }
  }

  .unfavorite_button {
    position: absolute;
    right: 85px;
    top: -68px;

    .btn {
      color: #ff5a5f;
    }
  }

  .book_price {
    background-color: rgba(60,63,64,0.9);
    background-size: 100%;
    color: #fff;
    font-size: 30px;
    width: 100%;
  }

  .owner_image {
    margin-top: 10px;
    border-radius: 33px;
  }

  .book_name {
    font-size: 31px;
    color: $dark_gray;
    margin-bottom: 20px;
  }

  .row {
    background-color: #f5f5f5;
    margin-left: -10px;

    .description {
      h4 {
        margin-top: 30px;
        color: rgba(60,63,64,0.9);
      }

      p {
        font-size: 14px;
        color: $dark_gray;
      }
    }

    .owner_name {
      h4 {
        margin-top: 30px;
        margin-bottom: -2px;
        color: rgba(60,63,64,0.9);
      }

      span {
        color: $dark_gray;
      }
    }

    .owner_name {
      margin-bottom: 40px;
    }
  }
}

.book_price {
  padding: 7px 10px;
  background-color: rgba(60,63,64,0.9);
  color: #fff;
  font-size: 30px;
  padding-left: -10px;
}

.edit_button {
  width: 50%;

  .btn {
    background-color: #ff5a5f;
    color: white;
    padding: 15px;
    border-radius: 0;
    width: 100%;
    border: none;
  }
}

.delete_button {
  width: 50%;
  margin-left: 50%;

  .btn {
    background-color: $light_gray;
    color: $dark_gray;
    padding: 15px;
    border-radius: 0;
    width: 100%;
    border: none;
  }
}
