@import 'bootstrap';
@import 'settings';

.new_sell_book {
  margin-top: 40px;
}

.book {
  margin-top: 40px;
  padding-bottom: 20px;
  position: relative;
  margin-left: 10px;

  .favorite_button {
    position: absolute;
    right: 90px;
    top: -68px;

    .btn {
      color: #ff5a5f;
    }
  }

  .unfavorite_button {
    position: absolute;
    right: 25px;
    top: -68px;

    .btn {
      color: #ff5a5f;
    }
  }

  .book_price {
    padding: 7px 20px;
    background-color: rgba(60,63,64,0.9);
    background-size: 100%;
    color: #fff;
    font-size: 30px;
    width: 100%;
    margin-left: -10px;
  }

  .owner_image {
    margin-top: 10px;
    border-radius: 33px;
  }

  .book_name {
    font-size: 31px;
    color: $dark_gray;
    margin-bottom: 20px;
  }

  .row {
    background-color: #f5f5f5;
    margin-left: -10px;

    .description {
      h4 {
        margin-top: 30px;
        color: rgba(60,63,64,0.9);
      }

      p {
        font-size: 14px;
        color: $dark_gray;
      }
    }

    .owner_name {
      h4 {
        margin-top: 30px;
        margin-bottom: -2px;
        color: rgba(60,63,64,0.9);
      }

      span {
        color: $dark_gray;
      }
    }

    .owner_name {
      margin-bottom: 40px;
    }
  }
}

.book_price {
  padding: 7px 10px;
  background-color: rgba(60,63,64,0.9);
  color: #fff;
  font-size: 30px;
  padding-left: -10px;
}
